body {
    background-color: #cccccc;
    margin: 0;
}

.cv {
    text-align: center;
}

h1{
    text-align: center; 
    color: black;
}

td {
    padding: 4px
}

#summary {
    color: #538020;
    margin: 0 5px 5px 5px;
}

.page {
    background: #fff; 
    padding: 10px;
    border: 1px solid #555555;
    margin: 0 5px 5px 5px;
    display: none;
}
 
h2 {
      margin: 0.2em 0 0.2em 0;
}

#top-menu-bar {
      text-align: center;
      background-color: #334455;
      color: #fff;
}

#top-menu-bar li {
    display:inline;
    margin: 0;
    padding: 0; 
}

#top-menu-bar a {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    color: #fff;
    display: inline-block;
}

#top-menu-bar a:hover {
    color:red; 
    background: white;
}

.side-bar {
    float: left;
    width: 200px;
}

.main-content {
    padding-left: 300px;
}

.endorsements {
    color: gray;
}